/*------ Global style */
body {
  background-color: lightgray;
  font-family: Arial, sans-serif;
  text-align: center;
}

/* ---------- Heading */
.heading {
  text-align: center;
  font-size: 2.5rem;
}

.logo {
  height: 40px;
  padding-right: 5px;
}

/* Data Input form layout */
.task {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid gray;
}

#task-list {
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  margin-bottom: 30px;
}

.task span {
  text-decoration: none;
}

.task .completed {
  text-decoration: line-through;
}

.task-description {
  flex-grow: 1;
}

input[type="text"] {
  padding: 10px;
  font-size: 16px;
  width: 30%;
  box-sizing: border-box;
  margin-bottom: 20px;
}

button,
#button2,
#button3,
#clear,
#clearall {
  padding: 10px 20px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: lightskyblue;
}

#button2:hover {
  background-color: lightskyblue;
}

#button3:hover {
  background-color: lightskyblue;
}

#clear-completed-tasks:hover {
  background-color: lightskyblue;
}

#clear-all-tasks:hover {
  background-color: red;
}

/* Media Queries */
@media (max-width: 992px) {
  input[type="text"] {
      width: 60%;
  }
}

@media (max-width: 768px) {
  .task {
      display: block;
  }

  .task-description {
      display: inline-block;
      width: 80%;
  }

  input[type="text"] {
      width: 100%;
  }
}

@media (max-width: 576px) {
  .heading {
      font-size: 2rem;
  }
}

@media only screen and (max-device-width: 1024px) {
  .heading {
      font-size: 1.5rem;
  }

  input[type="text"] {
      font-size: 1rem;
  }

  button,
  #button2,
  #button3,
  #clear,
  #clearall {
      padding: 5px 10px;
  }
}